/* Stylesheet to for "1-simple-RL" project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto font imported from Google Fonts*/

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #000080; /* Navy blue color */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px 10px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3963E; /* Butterscotch color */
    transition: 0.3s;
}

nav ul li a{
    width: 100%;
    text-align: center;
}

nav ul li:hover{
    background-color: #FFBF00; /* Amber color */
}

main{
    background-color: #D3D3D3; /* Light gray color*/
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.box{
    margin-bottom: 20px;
    padding: 20px 15px;
    text-align: center;
}

.box img{
    width: 100%;
}

.box.one{
    background-color: #f5f5dc; /* beige color */
}

.box.two{
    background-color: #FFB8B8; /* light cherry color */
}

footer{
    background-color: #8AFF8A;
    text-align: center;
    padding: 30px 0;
}

@media (min-width: 600px) {
    
}