/* Stylesheet for "Layout con Grid/Flexbox" project */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$bordo-base: 1px solid black;

body {
    margin: 0 200px;
}

header {
    border: $bordo-base;
    margin-top: 10px;
}

.img-ctn {
    height: 60px;
    img {
        max-width: 100%;
        height: auto;
    }
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    margin: 10px 0;
    padding: 0;
    align-items: center;
    li {
        width: 16.666667%;
        text-align: center;
        a {
            display: block;
            text-decoration: none;
            background-color: #ffac1c; // Bright Orange color
            color: #ffffff;
            padding: 10px 0;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #ffbf00; // Amber color
        }
        margin-right: 0.5%;
    }

    li:last-child {
        margin-right: 0;
    }
}
